In [2]:
import pandas
from matplotlib import pyplot as plt

In [2]:
df=pandas.DataFrame([[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
df=pandas.DataFrame([[1,2,3],[4,5,6]],columns=['name','No','age'])
df

   name  No  age
0     1   2    3
1     4   5    6

In [4]:
df=pandas.DataFrame([[1,2,3],[4,5,6]],columns=['name','no','age'],index=['first','second'])
df

        name  no  age
first      1   2    3
second     4   5    6

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.mean()

name    2.5
no      3.5
age     4.5
dtype: float64

In [7]:
'''read csv file in pandas ,next pade'''

'read csv file in pandas ,next pade'

In [ ]:
df1=pandas.read_csv('data.json')
df